<div class="row">
  <div class="app col-md-8">
    <app-dynamic-form
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="elem"
    [cdkDropListConnectedTo]="[config]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    [config]="config" (submitted)="formSubmitted($event)">
    </app-dynamic-form>
  </div>

  <div class="drag col-md-4">
    <div class="card" *ngFor="let item of elem"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="config"
    [cdkDropListConnectedTo]="[elem]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">>
      <div class="card-header">{{item.type}}</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
